@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  flex-wrap: wrap;
  background: #f0f0f0;
  background: rgba(151, 0, 151, 0.5);
}

.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
}

.card {
  background: transparent;
  width: 30%;
  height: 200px;
  perspective: 1000px;
  user-select: none;
  margin: 0.5em;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #272727;
  font-size: 60px;
  border-radius: 10px;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.front {
  font-size: 4rem;
  background: rgb(255, 249, 249);
}

.back {
  font-size: 2rem;
  background: #fff8dc;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.image {
  width: 100px;
  height: 100px;
}

@media (max-width: 830px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}
